/* Google Font imports. */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

/* Styling for everything. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Styling for the page itself. */
html,
body,
main {
	min-height: 100vh;

}
main {
	background-attachment: fixed;
	background-image: linear-gradient(#4f9bd9, #8ecae6);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cabin Sketch', cursive;
	color: white;
	text-shadow: 2px 2px #000;
	transition: opacity 0.5s;
	position: fixed;
	max-width: 75%;
	z-index: 1000;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3.5em;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

/* Parallex backgrounds. */
#jump,
#thrill,
#equipment,
#booking {
	/* background-attachment: fixed; */
	background-position: center;
	background-size: cover;
	height: 200vh;
}
#jump {
	background-image: linear-gradient(#4f9bd9ff, #8ecae600);
	overflow: hidden;
}
#jump-header {
	bottom: 10vh;
	margin-left: auto;
	right: 5vw;
	text-align: right;
}
#thrill {

}
#thrill-header {
	left: 5vw;
	top: 5vh;
}
#thrill div {

}
#equipment{
	background-image: linear-gradient(#8ecae600, #9ED2EA);
}
#equipment-header {
	left: 5vw;
	bottom: 10vh;
}
#booking {
	background-image: linear-gradient(#9ED2EA, #4f9bd9);
}
#booking-header {
	right: 5vw;
	top: 10vh;
}

/* Skydiver container fixed to center of screen. */
#skydiver {
	position: fixed;
	height: 20vh;
	bottom: 40vh;
	left: 30vw;
}
#skydiver img {
	height: 100%;
	width: auto;
}

/* Plane container in #jump section. Swoops in and sticks to background. */
#plane {
	position: relative;
	transition-property: height, width, bottom, right;
	transition-duration: 1.0s;
	transition-timing-function: cubic-bezier(0.1,0.4,0.8,1);
}
#plane img {
	height: 100%;
	width: auto;
}
.plane-off-camera {
	height: 150vh;
	bottom: 100vh;
	right: -95vw;
}
.plane-arrive {
	height: 80vh;
	bottom: 0vh;
	right: 0vw;
}
.plane-depart {
	height: 50vh;
	bottom: -20vh;
	right: 50vw;
}

.invisible {
	opacity: 0;
}

#scroll-message {
	text-align: center;
	bottom: 5vh;
	width: 100vw;
}