/* Styling for everything. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Styling for the page itself. */
html,
body,
main {
	min-height: 100vh;
}

/* Parallex backgrounds. */
#jump,
#thrill,
#equipment,
#booking {
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 150vh;
}
#jump {
	background-image: linear-gradient(#4f9bd9, #8ecae6);
	overflow: hidden;
}
#jump h1 {
	position: absolute;
	bottom: 10vh;
	right: 5vw;
	font-size: 4em;
}
#thrill {
	background-image: url("../img/bg_thrill.jpg");
}
#equipment{
	background-image: url("../img/bg_equipment.jpg");
}
#booking {
	background-image: url("../img/bg_booking.jpg");
}

/* Skydiver container fixed to center of screen. */
#skydiver {
	position: fixed;
	height: 20vh;
	bottom: 40vh;
	left: 30vw;
}
#skydiver img {
	height: 100%;
	width: auto;
}

/* Plane container in #jump section. Swoops in and sticks to background. */
#plane {
	position: relative;
	transition-property: height, width, bottom, right;
	transition-duration: 1.0s;
	transition-timing-function: cubic-bezier(0.1,0.4,0.8,1);
}
#plane img {
	height: 100%;
	width: auto;
}
.plane-off-camera {
	height: 150vh;
	bottom: 100vh;
	right: -95vw;
}
.plane-arrive {
	height: 80vh;
	bottom: 0vh;
	right: 0vw;
}
.plane-depart {
	height: 50vh;
	bottom: -20vh;
	right: 50vw;
}